<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block Horoshii_url_shortener_content %}
        {% endblock Horoshii_url_shortener_content %}
    </body>
</html>
